<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background launchhome">



  <div class="container pt-5x">
  <div id="section-meetinvestors" class="row">
      <div class="col-md-6 mb-5 mb-lg-0">
          <div class="wrap">


          <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
          <p class="lead col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        
             


              <div class="accordion">
                  <div class="accordion-item active">
                     
                      <div class="accordion-body">
                          <div class="accordion-preview round-investors">
                              <div class="blew-up">
                                  <div class="preview animated fadeInUp">
                                      <a href="#" data-toggle="modal" data-src="https://www.youtube.com/embed/3HKsCyDBFv8"
                                          data-target="#myVideo" class="screenshot mt-1 ">
                                          <div class="image-container">
                                              <img src="https://mevee.herokuapp.com/streamuphero.png" srcset="https://mevee.herokuapp.com/streamuphero.png"
                                                  width="100%">
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
           
          </div>
      </div>
  </div>
</div>


</div>

<%= render "main/components/features" %>
