<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background launchhome">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
      
      </div>

    </div>
  </div>



  <div class="container">
<div id="section-meetinvestors" class="row"><div class="col-md-6 mb-5 mb-lg-0"><div class="wrap"><div class="theme" style="color: rgb(0, 24, 55);">Documents</div> <h2 class="title title-2">
                     Create, share &amp; track business critical documents
                  </h2> <div class="text">
                        Collection of startup docs, including term sheets, financial models, NDAs, and more. Complete with
                        secure document sharing and tracking.

                  </div> <div class="accordion"><div class="accordion-item active"><div class="accordion-head"><div class="input-group mb-3"><input type="text" placeholder="Your email address" aria-describedby="button-addon2" class="form-control blue-b"> <div class="input-group-append"><button type="button" id="button-addon2" class="btn btn-primary ml-0"><!---->
                                          Get Started</button></div> <div class="invalid-feedback">
                                        Please correct your email address
                                      </div></div></div> <div class="accordion-body"><div class="accordion-preview round-investors"><div class="blew-up"><div class="preview animated fadeInUp"><a href="#" data-toggle="modal" data-src="https://www.youtube.com/embed/3HKsCyDBFv8" data-target="#myVideo" class="screenshot mt-1 "><div class="image-container"><img src="https://www.investorintelligence.io/img/docs2.gif" srcset="https://www.investorintelligence.io/img/docs2.gif" width="100%"></div></a></div></div></div></div></div></div> <div class="review review-single"><div class="review-content">
                        "For startups looking to get setup to take in funding, Investor Intelligence is by far the best solution I've seen."

                    </div> <div class="review-user"><div class="review-preview"><img src="https://www.investorintelligence.io/img/taylor.png"></div> <div class="review-group"><div class="review-name">Jay Taylor</div> <div class="review-position">Taylor Lewis LLP</div></div></div></div></div></div></div>
</div>


</div>

<%= render "main/components/features" %>
