<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<style>
@import url("https://use.typekit.net/hvq7huk.css");

.card, .card2 {
  width: 350px;
  box-shadow: none;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease-out all;
}
.card:hover, .card2:hover {
  -webkit-box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  box-shadow: -1px -1px 16px -4px rgba(0, 0, 0, 0.44);
  transition: 0.3s ease-out all;
}

.card {
  transition: 0.3s ease-out all;
    background: #2E2F37;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 4px 6px 17px 1px #2e2f386b;
}

.card2 {
  opacity: 0.8;
  transition: 0.3s ease-out all;
}

.image {
  display: flex;
  width: 100%;
  background-size: cover;
  background-position-y: center;
  height: 180px;
  border-radius: 25px;
}
.image .alert {
  align-self: end;
  margin: 10px;
  background-color: #8bc34a;
  color: white;
  padding: 6px 8px;
  font-size: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.des {
  padding: 12px;
  text-align: left;
}
.des .subtitle {
    color: white;
    text-align: left !important;
    text-shadow: 0px 2px 9px #1f202724;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}
h5 {
    color: #8387a5;
    text-align: left;
}
.des h1 {
  margin: 5px 0;
}
.des h1 span {
  font-weight: normal;
  margin-left: 10px;
  color: SeaGreen;
}
.des p {
  line-height: 22px;
}

hr {
  border: 1px solid Gainsboro;
  opacity: 0.3;
}

.adding, .ordered {
  display: inline-block;
  width: 100%;
  padding: 12px 0 12px 12px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.adding {
  background-color: white;
  color: grey;
}
.adding:hover {
  background-color: LavenderBlush;
  color: black;
  cursor: pointer;
}

.ordered {
  background-color: PaleVioletRed;
  color: white;
  cursor: pointer;
}
.livedivide {
    padding-top: 30px;
}
.livenow {
    color: #fff;
    text-align: left;
}

div.radi-2 .card {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
div.radi-1 .card {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px !important;
    background: #202226;
    height: 97.6%;
}
a.appcues-button-success.appcues-button {
    padding: 10px 20px !important;
    background-color: rgb(71, 207, 115);
    color: rgb(8, 8, 8) !important;
    font-weight: 800;
}

section .canvas {
    background: #fff;
    padding-bottom: 90px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 30px;
}

div.zone h2 {
    color: #000;
    font-weight: 700;
}


cue section {
    border-top: 9px solid #47cf73;
}
.title-yellow{
  color: #ffdd40;
}
.menuitemp {
    color: #fff;
    text-align: left;
    font-size: 1.2rem;
}
.container-fluid.dk {
    background: #000;
    padding-top: 10em;
    padding-bottom: 15em;
}
.whiteboxtxt{
  color: #fff;
  font-size: 5rem;
  width: 70%;
  margin: auto;
  margin-bottom: 25vh;
}
</style>


<div class="container mt-8 mb-6 text-center">


<div class="row">



  <div class="col-3 radi-1">
    <div class="card">

    <h3 class="livenow title-yellow">
    Explore
    </h3>
    <p class="menuitemp">Picks</p>
    <p class="menuitemp">Popular</p>
    <p class="menuitemp">Topics</p>

    </div>
  </div>







  <div class="col-4 pl-0 radi-2">
    <div id="card" class="card">

   
   
   <h3 class="livenow">
   Trending Live Now
   </h3>
   
    <div class="livedivide">
    <div class="image" 
    style='background-image: url("https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");'
    >
      <span class="alert">
      Lead Netowrk
      </span>
    </div>
    <div class="des">
      <span class="subtitle">
      Blockchain Networking Group
      </span>
      <h5>@CryptoKing</h5>
    </div>
  </div>





  <div class="livedivide">
  <div class="image" 
  style='background-image: url("https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");'
  >
    <span class="alert">
    Lead Netowrk
    </span>
  </div>
  <div class="des">
    <span class="subtitle">
    Blockchain Networking Group
    </span>
    <h5>@CryptoKing</h5>
  </div>
</div>





<div class="livedivide">
<div class="image" 
style='background-image: url("https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80");'
>
  <span class="alert">
  Lead Netowrk
  </span>
</div>
<div class="des">
  <span class="subtitle">
  Blockchain Networking Group
  </span>
  <h5>@CryptoKing</h5>
</div>
</div>





  </div>

  </div>


<div class="col-5">

<img src="https://logo.clearbit.com/nytco.com">
<img src="https://logo.clearbit.com/washingtonpost.com">
<img src="https://logo.clearbit.com/mashable.com">


<cue class="active appcues-actions-hidden">
    <section>
        <div class="canvas">
            <div class="row-container">
                <div class="row" style="display: inline-block; width: 100%;">
                    <div class="zone-container" style="display: inline-block; width: 100%; float: left;">
                        <div class="zone">
                            <div class="zone-content">
                                <div class="rich-text" style="margin-top: 20px;">
                                    <style>
                                        .rich-text strong {
                                            color: inherit !important;
                                        }
                                    </style>
                                    <div>
                                        <h2 style="text-align: center;">Want to create your own event?</h2>
                                        <p>
                                        It's easy. Doesn't take much.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-container">
                <div class="row" style="display: inline-block; width: 100%;">
                    <div class="zone-container" style="display: inline-block; width: 100%; float: left;">
                        <div class="zone">
                            <div class="zone-content">
                                <div class="button-wrapper appcues-actions-right" style="width: 100%; text-align: center; margin-top: 5px; margin-bottom: 5px;">
                                    <a class="appcues-button-success appcues-button" target="_parent" href="/dashboard/" data-step="end-flow"
                                        data-attrs-event="{&quot;event&quot;:&quot;User went to Dashboard&quot;}" data-field-id="42c54b63-c513-4505-97a0-98464c2f85d7"
                                        style="text-align: center; padding: 8px 18px; background-color: rgb(71, 207, 115); color: rgb(8, 8, 8); text-decoration: none;">Go to Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="appcues-actions hidden"></div>
</cue>







  </div>
</div>







  <div class="row feature-stamp hidden">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features.rooms") %></h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.recordings") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-pencil-alt fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.designs") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-door-open fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.authentication") %></h4>
    </div>
  </div>
</div>


<div class="container-fluid dk">
<div class="container">


<div class="row">
    <div class="col-12 text-center">
        <h2 class="whiteboxtxt">
        The easiest way to network for business.
        </h2>
    </div>
</div>

<div class="row">
<div class="col-4">
<blockquote class="embedly-card" data-card-controls="0" data-card-theme="dark"><h4><a href="https://www.wsj.com/articles/this-live-streaming-app-carries-banners-and-video-ads-1452164401">This Live-Streaming App Carries Banners and Video Ads</a></h4><p>Many advertising executives attending the Consumer Electronics Show in Las Vegas this week have likely stopped to live stream some action from the convention floor using Periscope or one of the other popular live-streaming apps on the market. Or, they may have taken a moment to watch the oddly viral live footage of the #DrummondPuddleWatch.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>

<div class="col-4">
<blockquote class="embedly-card" data-card-controls="0" data-card-theme="dark"><h4><a href="https://www.nytimes.com/2016/01/14/technology/personaltech/video-feature-some-standouts-at-the-international-ces.html?smid=tw-share">Video Feature: Some Standouts at the International CES</a></h4><p>App Smart LAST week, manufacturers from all over the world gathered in Las Vegas - as they do every January - for International CES, a giant electronics show where they displayed televisions, computers and weird and wonderful gadgets. Nowadays, apps are also showcased or previewed alongside the hardware.</p></blockquote>
</div>

<div class="col-4">
<blockquote class="embedly-card" data-card-controls="0" data-card-theme="dark"><h4><a href="https://themerkle.com/bitcoin-is-of-high-value-to-live-streaming-apps-like-mevee/">Bitcoin Is Of High Value To Live-Streaming Apps Like MeVee</a></h4><p>Bitcoin can make a major impact on just about any aspect of everyday life today. The advertising world is no different from any other sector in that regard, as something in this particular industry will have to change sooner or later.</p></blockquote>
</div>

</div>
</div>
</div>